.search-bar input {
    padding: 0.5rem 2rem;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 16px;
    /* background-color: var(--super-light-purple); */
    box-sizing: border-box;
    outline: none;
  }
  
  .search-bar input:focus {
    border: 2px solid #7e22ce;
  }
  
  .search-bar i {
    position: absolute;
    padding: 10px;
  }
  
  .search-bar input::placeholder {
    color: grey;
    text-align: center;
  }

  .nav-icons {
    display: flex;
    gap: 2rem;
    font-size: 22px;
  }
  
  .nav-icons .icon-badge {
    position: relative;
    bottom: 15px;
    left: 2px;
    background-color: white;
    border-radius: 50%;
    padding: 2px 5px;
    color: rgb(7, 7, 7);
    font-size: 12px;
    text-decoration: none;
  }
  .icon-badge span{
    color: black;}
  .icon-navlink {
    text-decoration: none;
  }
  
  .icon-navlink i {
   color: white;
  }
  .nav-icons i {
    cursor: pointer;
  }
  
  .nav-icons .login-user {
    background-color: gray;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 0.2rem;
    border-radius: 5px;
    color: white;
  }
  .login-user a{
    color: white;
  }
  .nav-link {
    text-decoration: none;
    color: white;
  }

 
  